body{
    background-image: url("https://as1.ftcdn.net/v2/jpg/02/66/34/70/1000_F_266347082_qnZLppWcnm5a4OA5cGNE1amPi01lpEmV.jpg");
    background-repeat: none;
    background-size: cover;
}

.flex-container{

    display: flex;

    flex-flow: wrap;

    justify-content: space-evenly;

    padding: 1;
    margin: 1;
    list-style: none;
}
h1{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.flex-item{

    
    padding: 5px;
    width: 150px;
    height: 40px;
    margin-top: 0px;
    line-height: 10px;
    color: white;
    
}
.flex-item a:hover{
    display: block;
    background-color: black;
    height: 50px;
    margin-top: 10;
    padding: 5px;
}
.pic{
    display: flex;
    flex-flow: wrap;
    justify-content: center;

}

.words{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    color: white;

}
.label{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    color: white;
}
.output{
    color: white;
}




