html{
    background-image: url("https://wallpapercave.com/wp/P4LP9H0.jpg");
    background-size: cover;
    background-repeat: none;
}
.flex-container{

    display: flex;

    flex-flow: row wrap;

    justify-content: space-evenly;

    padding: 1;
    margin: 1;
    list-style: none;
}

.flex-item{

    
    padding: 5px;
    width: 150px;
    height: 40px;
    margin-top: 0px;
    line-height: 10px;
    color: black;
    
}
.flex-item a:hover{
    display: block;
    background-color: black;
    height: 50px;
    margin-top: 10;
    padding: 5px;
}
nav{ 
    color: black; 
    
    text-align: center;

}




h1{ 
    color: white; 
   
    /*font-family: 'Brush Script MT', 'Brush Script Std', 'cursive';*/
    text-transform: capitalize;
    text-align: center;
    font-size: 40px;
    text-shadow: 4px 4px 5px black;
    
    ;
}

p{ 
    color: whitesmoke; 
    
    font-size: 25px;
}
.pictures{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}
footer{
    text-align: right;
    color: gray;
}
