.flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 100px;
}
.pictures{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    
    width: 50%;
    background-color: transparent;
    border: 1%;
    border-radius: 10%;
}
.Rylee{
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    border-bottom: 1%;
    
}
.menu{
    font-size: 20px;
}