.flex-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white
}
.monday{
    width: 90%;

}
.tuesday{
    width: 90%;
}
.wednesday{
    width: 90%;
}
.thursday{
    width: 90%;
}
.friday{
    width: 90%;
}
.saturday{
    width: 90%;
}
.sunday{
    width: 90%;
}
.secondmonday{
    width: 90%;
}